body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

.pokemon-list li {
  margin: 5px 0;
}

.pokemon-button {
  background-color: #4379F2;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.pokemon-button:hover {
  background-color: #3565D5;
}
